<div #sidebar class="py-2 px-2 mb-4">
  <!-- <div class="media d-flex align-items-center gap-3">
      <img
        decoding="async"
        loading="lazy"
        src="../../../assets/images/pexels-designecologist-1779487.jpg"
        alt="..."
        width="80"
        height="80"
        class="mr-3 rounded-circle shadow-sm"
      />
      <div class="media-body">
        <h4 class="m-0">Olivia</h4>
        <p class="font-weight-normal text-muted mb-0">Web developer</p>
      </div>
    </div> -->
  <!-- </div> -->

  <ul
    class="flex-column mb-0 navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  >
    <a
      aria-expanded="false"
      class="sidebar-brand d-flex align-items-center justify-content-center"
    >
      <div class="sidebar-brand-icon fs-3">
        <i class="bx bxs-castle"></i>
      </div>
      <div class="sidebar-brand-text mx-2">Castle UI</div></a
    >
    <li class="nav-item">
      <a routerLink="/material/test" class="nav-link text-white">
        <i class="bx bxs-objects-horizontal-left"></i>
        <span> Test 1 </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/material/test2" class="nav-link text-dark">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        Test 2
      </a>
    </li>
  </ul>
</div>
