<div #sidebar class="side-nav-content m-2">
  <ul class="nav-list p-0 m-0">
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon fs-3">
        <i class="bx bxs-castle"></i>
      </div>
      <div class="sidebar-brand-text mx-2">Castle UI</div></a
    > -->
    <li *ngFor="let item of navList" class="mx-3 nav-list-item">
      <i class="{{ item.icon }} fs-3"></i>
      <a routerLink="{{ item.link }}">
        <span
          ><a>{{ item.name }}</a>
        </span>
      </a>
    </li>
  </ul>
</div>
