.side-nav-content {
  color: #818699;
  width: 250px;
}

.border-white {
  border: 1px solid white;
}

.nav-list {
  list-style: none;
  height: 100%;
}
.nav-list-item i {
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: 10px;
  margin-right: 32px;
}
.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
}
.nav-list-item:hover {
  background-color: rgba(236, 236, 236, 0.3);
  border-radius: 10px;
}

.nav-list-item span {
  width: 170px;
  text-transform: capitalize;
  /* display: block; */
}

a {
  color: #818699;
  text-decoration: none;
}
/* .sidebar-brand {
  color: #fff;
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  z-index: 1;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
} */

/* .text-uppercase {
  letter-spacing: 0.1em;
} */

/* .nav-link {
  text-transform: capitalize;
} */

/* .text-primary {
  color: #7579e7 !important;
} */
/* @media (max-width: 768px) {
    .vertical-nav {
      margin-left: -17rem;
    }
    .vertical-nav.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  } */

/* ul li a:hover {
  color: #7386d5 !important;
  background: #fff;
  border-bottom: 2px solid black;
}

ul li a {
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff !important;
} */
