<div #sidebar class="side-nav-content m-2">
  <ul class="nav-list p-0 m-0">
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon fs-3">
        <i class="bx bxs-castle"></i>
      </div>
      <div class="sidebar-brand-text mx-2">Castle UI</div></a
    > -->
    <span>
      <li
        [ngClass]="{ active: isValue == 1 }"
        (click)="toggle1()"
        class="mx-3 nav-list-item"
        routerLink="/material/test/navTab"
      >
        <i class="bx bxs-dashboard fs-2"></i>
        <a>
          <span><a>Dashboard</a> </span>
        </a>
      </li>
      <li
        [ngClass]="{ active: isValue == 2 }"
        (click)="toggle2()"
        class="mx-3 nav-list-item"
        routerLink="/material/test2"
      >
        <i class="bx bxs-report fs-2"></i>
        <a>
          <span><a>Report</a> </span>
        </a>
      </li>
      <li
        [ngClass]="{ active: isValue == 3 }"
        (click)="toggle3()"
        class="mx-3 nav-list-item"
        routerLink="/material/db"
      >
        <i class="bx bxs-data fs-2"></i>
        <a>
          <span><a>Database</a> </span>
        </a>
      </li>
    </span>
  </ul>
</div>
