.fix {
  position: fixed;
  left: 92%;
  top: 100px;
}

.radial-progress {
  position: relative;
  transition: all 0.4s;
}

svg {
  transform: rotate(-90deg);
  transition: all 0.4s;
}

.background-circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 10;
}

.progress-circle {
  fill: none;
  stroke: #007bff;
  stroke-width: 10;
  stroke-dasharray: 565;
}

.progress-label {
  font-size: 24px;
  position: absolute;
  font-size: 24px;
  z-index: 1;
  top: 42%;
  bottom: 42%;
  left: 38%;
  right: 38%;
  text-align: center;
  transition: all 0.4s;
}

#animation {
  position: absolute;
  z-index: 1;
  top: 26%;
  bottom: 26%;
  left: 26%;
  right: 26%;
  transition: all 0.4s;
}


@media (max-width: 768px) {
  .container-fluid{
    overflow-x: scroll;
  }


}
