.fix {
  position: fixed;
  left: 92%;
  top: 100px;
}

.radial-progress {
  position: relative;
}

svg {
  transform: rotate(-90deg);
}

.background-circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 10;
}

.progress-circle {
  fill: none;
  stroke: #007bff;
  stroke-width: 10;
  stroke-dasharray: 565;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
