India vs Malaysia Highlights Asian Champions Trophy 2023 Final: India sealed a
4-3 win vs Malaysia to clinch their record-fourth ACT trophy, at the Mayor
Radhakrishnan Stadium in Chennai on Saturday. Initially, Jugraj Singh scored in
the first quarter to give India an early lead, but Kamal Abu Arzai equalised to
make it 1-1. Then in the second quarter, Razie Rahim converted a penalty corner
to make it 2-1 for Malaysia. Then Aminudin Muhamad struck late in the second
quarter via a penalty corner to make 3-1 for the visitors. In the third quarter,
Harmanpreet Singh converted a penalty stroke to make it 2-3 and then Gurjant
came up with the equaliser. With the score 3-3, Akashdeep came up with a late
winner to help India clinch their record-fourth ACT title. After conducting
bhumi pujan of the mooring place, Shah said the construction of this facility
will be ready for smooth maintenance of all the vessels of BSF's water wing from
Harami Nala in the western region to the water border of the entire Gujarat. The
facility will be built at a cost of ₹257 crore which will include an
administrative building, canteen, officers' mess, training centre, parade ground
and a workshop for maintaining and upkeep of over 450 water vessels that are
used to carry out vigilance in the area. “BSF is the only force among all CAPFs
which has expertise in securing land and water borders and it has its own air
wing also…BSF has the capability, strength and courage to protect water, land
and sky like the Indian Army,” Shah said while addressing the personnel and
dignitaries.
