<div class="container w-100 border my-3">
  <div class="container py-3">
    <div class="card">
      <div class="card-header fw-bold">Table</div>

      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">College Names</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of this.tableD[0].value; let i = index">
            <tr>
              <td>{{ item.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
