.logo img {
  width: 40%;
}

.sterlite {
  background-color: #1b47c5 !important;
  background-image: radial-gradient(
      circle at top left,
      #1b9dc5,
      20%,
      transparent 100%
    ),
    radial-gradient(circle at bottom right, #1b9dc5 -90%, transparent 100%);
}

.divLeft {
  float: left;
  width: 33.33%;
}

.divRight {
  width: 33.33%;
  display: flex;
  justify-content: end;
}

.btn-group .btn:hover {
  background-color: #235cff;
  color: #ffffff;
}

@media (max-width: 768px) {
  .logo img {
    width: 100%;
  }

  .divLeft {
    float: left;
    position: absolute;
    width: 140px;
  }

  .divRight {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .divMiddle {
    margin: 0 auto;
    width: 55%;
    display: flex;
    justify-content: start;
  }
}
