<!-- <div>Loaded in router outlet: {{ this.hell }}</div> -->

<nav
  class="navbar navbar-expand bg-primary"
  [ngClass]="{
    sterlite: hell == 'one'
  }"
>
  <div *ngIf="this.hell == 'one' || mobile == true" class="container-fluid">
    <!-- <div class="divLeft d-flex align-items-center">
      <i
        [ngClass]="{
          sterliteSideNav: hell == 'one'
        }"
        type="button"
        *ngIf="this.hell == 'one'"
        class="bx bx-menu text-white fs-2"
        (click)="toogle()"
      ></i>
    </div> -->
    <div class="divLeft d-flex justify-content-start">
      <div class="logo">
        <img
          src="../../../assets/images/20.68+x+9.53+cm+logo+_1_-removebg-preview.png"
          alt=""
        />
      </div>
    </div>
    <!-- <div *ngIf="this.hell == 'one'" class="divMiddle">
      <div class="logo">
        <img
          src="../../../assets/images/20.68+x+9.53+cm+logo+_1_-removebg-preview.png"
          alt=""
        />
      </div>
    </div> -->
    <div *ngIf="this.hell == 'one'" class="divMiddle"></div>
    <div *ngIf="this.hell == 'one'" class="divRight">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-outline-light text-white d-flex align-items-center"
        >
          <img
            src="https://media.istockphoto.com/id/1171169127/photo/headshot-of-cheerful-handsome-man-with-trendy-haircut-and-eyeglasses-isolated-on-gray.jpg?s=612x612&w=0&k=20&c=yqAKmCqnpP_T8M8I5VTKxecri1xutkXH7zfybnwVWPQ="
            alt=""
            class="rounded-circle me-2"
          />
          <span> Anuj Tomar </span>
        </button>
        <button
          type="button"
          class="btn btn-outline-light text-white dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/home">Sign Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="float-lg-start float-start" *ngIf="this.hell != 'one'">
    <h5 [routerLink]="['/home']" class="text-white pt-1">Angular Lab</h5>
  </div>
</nav>
