<!-- <nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <form class="d-flex align-items-center w-auto gap-2">
      <i
        type="button"
        *ngIf="this.hell"
        (click)="onClick()"
        class="bx bx-menu text-white fs-2"
      ></i>
      <h5 [routerLink]="['/home']" class="text-white pt-1">Angular Lab</h5>
    </form>
  </div>
</nav> -->

<!-- <div>Loaded in router outlet: {{ this.hell }}</div> -->

<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <form class="d-flex align-items-center w-auto gap-2">
      <i
        type="button"
        *ngIf="this.hell == 'one'"
        (click)="toogle()"
        class="bx bx-menu text-white fs-2"
      ></i>
      <h5 [routerLink]="['/home']" class="text-white pt-1">Angular Lab</h5>
    </form>
  </div>
</nav>
