<div class="container-fluid mx-0 p-0">
  <div class="row mb-3">
    <div class="col-12 col-sm-12 col-lg-6 mb-3">
      <!-- <div class="card-header">Bar Chart</div> -->
      <div class="card"><canvas id="bar"></canvas></div>
    </div>
    <div class="col-12 col-lg-6">
      <!-- <div class="card-header">Bubble Chart</div> -->
      <div class="card"><canvas id="scatter"></canvas></div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-sm-12 col-lg-6 mb-3">
      <!-- <div class="card-header">Bar Chart</div> -->
      <div class="card"><canvas id="bar"></canvas></div>
    </div>
    <div class="col-12 col-lg-6">
      <!-- <div class="card-header">Bubble Chart</div> -->
      <div class="card"><canvas id="scatter"></canvas></div>
    </div>
  </div>
</div>
