<button
  (click)="toggleSidebar()"
  [ngClass]="{
    'circle-open': sideNavStatus == true
  }"
  class="circle"
  type="button"
>
  <i
    [ngClass]="sideNavStatus == true ? 'bx-chevron-right' : 'bx-chevron-left'"
    class="bx"
  ></i>
</button>
<app-side-nav-c
  id="sidebar"
  [ngClass]="{
    'app-side-nav-c-open': sideNavStatus == true
  }"
  class="vertical-nav navbar-nav"
>
</app-side-nav-c>

<div
  [ngClass]="{
    'page-content-open': sideNavStatus == true
  }"
  class="page-content"
>
  <!-- <div class="area"></div> -->

  <router-outlet></router-outlet>
</div>
<!-- <button id="sidebarCollapse" (click)="helloThere()" id="sidebarCollapse">
    Toggle
  </button> -->
