@import "https://fonts.cdnfonts.com/css/metropolis";

.navbar {
  padding: 0.5rem 1rem;
}

/* html
 {
  height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.body {
  overflow: auto;
  height: 100%;
}

html,
body {
  /* margin: auto; */
  height: 100%;
  overflow: hidden;
  width: 100%;
}
